
.md-tabs__link {
  opacity: 1 !important;
}

.footer-col-container {
  color: var(--md-footer-fg-color--lighter);
  font-size: .64rem;
  margin: auto .6rem;
  padding: .4rem;
  width: 100%;
}
.footer-col-container > * {
    align-self: stretch;
}
.footer-col-container > *:not(.last) {
  padding-bottom: 1em;
}
@media (min-width:768px) {
    .footer-col-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }
    .footer-col-container > * {
      padding-bottom: 0 !important;
    }
    .last {
      align-self: end;
      justify-self: end;
      padding-right: 2em;
      text-align: right;
    }
}
